@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* CSS vars */
:root {
  --square-side: 30vw;
  --shipWidth: 20px;
}

* {
  font-family: 'Space Mono', monospace;
  color: white;
}

body {
  background-image: url('/bubbles.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  text-align: center;
  margin: auto;
}

.footerInfo {
  color: white;
  text-decoration: underline;
}

.footerInfo:hover {
  color: rgb(82, 212, 255);
}

#btnLogout {
  max-width: 90px;
}

#favicon {
  left: 8px;
  top: 3px;
  width: 40px;
  transform: rotate(0deg);
}

#nav-title {
  margin-left: 40px;
}

/*******************************************************/
/****************** GAME PAGE STYLING ******************/
/*******************************************************/
.board {
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  grid-template-columns: repeat(11, 1fr);
  width: var(--square-side);
  height: var(--square-side);
  margin: 10px auto 70px auto;
}

.boardContainer {
  background-color: #00346bbf;
  padding: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 6px 3px rgba(181, 181, 181, 1);
  -moz-box-shadow: 0px 0px 6px 3px rgba(181, 181, 181, 1);
  box-shadow: 0px 0px 6px 3px rgba(181, 181, 181, 1);
}

.cardContainer {
  width: 15rem;
  background-color: #00346bbf !important;
}

.square {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square.clickable,
button {
  cursor: pointer;
}

div.ships {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  width: var(--shipWidth);
  height: calc(var(--shipWidth) * 5);
  margin: 20px auto;
}

div.ship4 {
  grid-template-rows: repeat(4, 1fr);
  width: var(--shipWidth);
  height: calc(var(--shipWidth) * 4);
}

div.ship3 {
  grid-template-rows: repeat(3, 1fr);
  width: var(--shipWidth);
  height: calc(var(--shipWidth) * 3);
}

div.ship2 {
  grid-template-rows: repeat(2, 1fr);
  width: var(--shipWidth);
  height: calc(var(--shipWidth) * 2);
}

img {
  position: absolute;
  transform: rotate(90deg);
  top: 40%;
  left: -198%;
  z-index: 1;
  width: 500%;
}

img.ship4 {
  width: 82px;
  position: absolute;
  transform: rotate(90deg);
  top: 39%;
  left: -155%;
  z-index: 1;
}

img.ship3 {
  width: 58px;
  height: 20px;
  position: absolute;
  transform: rotate(90deg);
  top: 34%;
  left: -93%;
  z-index: 1;
}

img.ship2 {
  width: 41px;
  height: 21px;
  position: absolute;
  transform: rotate(90deg);
  top: 24%;
  left: -55%;
  z-index: 1;
}

.rotate {
  transform: rotate(90deg);
}

.shipImgDiv {
  background-color: rgb(0, 157, 205);
  position: relative;
}

.shipContainer {
  display: inline-block;
  width: fit-content;
  margin: auto 5px;
  min-height: 200px;
  vertical-align: bottom;
}

.shipContainer button {
  vertical-align: bottom;
}

.allships {
  display: inline-block;
}

.login > input,
.signup > input {
  color: black;
  margin-bottom: 15px;
}
